<%- include('../partials/head'); %>
<head>
    <title>Data by EJS Process</title>
</head>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Hello,<%= student.name %>
                </h1>
                <h3>Student ID: <%= student.id %>
                </h3>
                <h3>Year: <%= student.id %>
                </h3>
                <h3>Major: <%= student.id %>
                </h3>
            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %>